@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "League Spartan", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: no-repeat top left url("./images/bg-pattern-top-desktop.svg"), no-repeat bottom right url("./images/bg-pattern-bottom-desktop.svg");
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 75%;
  margin: 0 auto;
}

main > section:first-child {
  display: flex;
  margin-bottom: 3rem;
}

main > section:first-child .intro {
  flex: 1 1 50%;
}

main > section:first-child .most-rated {
  flex: 1 1 50%;
}

main > section:first-child .intro h1 {
  color: hsl(300, 43%, 22%);
  font-size: 2.75rem;
}

.intro p {
  color: hsl(300, 43%, 22%);
}

.most-rated div {
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
  font-weight: bold;
  padding: 1rem;
  margin: 1.5rem 0;
  width: 60%;
  font-size: 13px;
  border-radius: 10px;
}

.most-rated div .rated {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  margin: 0 1rem;
}

.most-rated div .rated .star {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: no-repeat url("./images/icon-star.svg");
  vertical-align: sub;
}

.most-rated div:nth-of-type(2) {
  margin-left: 10%;
}

.most-rated div:last-of-type {
  margin-left: 20%;
}

.reviews {
  display: flex;
}

.reviews .card {
  background-color: hsl(300, 43%, 22%);
  flex: 1 1 30%;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 2rem;
}

.reviews .card:not(.reviews .card:last-of-type) {
  margin-right: 2.5%;
}

.reviews .card img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 1rem;
}

.reviews .card span {
  color: hsl(333, 80%, 67%);
}

.card h2 {
  margin: 0;
  font-size: 1rem;
}

blockquote {
  margin: 0;
  clear: left;
  line-height: 1.3em;
  quotes: "“" "”";
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

.card .head {
  margin-bottom: 2rem;
}

.reviews .card:nth-child(2) {
  transform: translateY(15px);
}

.reviews .card:last-child {
  transform: translateY(30px);
}

@media (max-width: 600px) {
  body {
    background: no-repeat top left url("./images/bg-pattern-top-mobile.svg"), no-repeat bottom right url("./images/bg-pattern-bottom-mobile.svg");
    height: auto;
    overflow: visible;
  }
  main {
    max-width: 90%;
  }
  main > section:first-child {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .intro {
    text-align: center;
  }
  .intro h1 {
    line-height: 0.9;
  }
  .intro p {
    font-size: 1.1rem;
  }
  .most-rated div {
    width: 100%;
    text-align: center;
  }
  .most-rated div .rated {
    display: block;
    margin-bottom: 0.5rem;
  }
  .most-rated div:nth-of-type(2),
  .most-rated div:last-of-type {
    margin-left: 0;
  }
  .reviews {
    flex-direction: column;
  }
  .reviews .card:not(.reviews .card:last-of-type) {
    margin-right: 0;
  }
}